@tailwind base;
@tailwind components;
.b-colo{
    @apply text-[#1180BE] my-auto 
}
@tailwind utilities;
.snap-fullPage {
    @apply flex h-[calc(100vh-79px)] w-screen snap-start items-center justify-center overflow-hidden;
}

.snap-fullPage-footer {
    @apply flex h-[calc(100vh-79px)] w-screen snap-start items-center justify-center;
}

@import url('./HomePage.css');
@import url('./CourseCart.css');
@import url('./TutorsDashboardPage.css');
@import url('./TutorProfile.css');







/* --------------TutorDashboard--------------- */

.home-height {
    height: calc(100vh - 72px);
    margin-top: 70px;
  }
  
  .dashbord-logo {
    font-family: "Poppins";
    text-align: center;
    margin-top: 31px;
    margin-bottom: 63px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    background: linear-gradient(112.33deg, #fc4d6d 23.89%, #fda02f 94.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  
  .home-side-list {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #2c2c2c;
    cursor: pointer;
  }
  
  .home-side-icon {
    height: 21px;
    width: 21px;
    color: #2c2c2c;
    margin-left: 37px;
    margin-bottom: 6px;
    margin-right: 8px;
  }
  
  
  .home-menu-item {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 195px;
    height: 48px;
  }
  
  .home-menu-item:active {
    background: #fc4d6d;
    border-radius: 15px;
  }
  
  .home-menu-item:active p{
      color: white;
  }
  .home-menu-item:active .home-side-icon{
      color: white;
  }
  