
@tailwind base;
@tailwind components;
.b-colo{
    @apply text-[#1180BE] my-auto whitespace-nowrap h-[14px] w-[14px]
}
.h1wi{
    @apply 2xl:w-[95%] xl:w-[980px] 
}
@tailwind utilities;
.snap-fullPage {
    @apply flex h-[calc(100vh-79px)] w-screen snap-start items-center justify-center overflow-hidden;
}

.snap-fullPage-footer {
    @apply flex h-[calc(100vh-79px)] w-screen snap-start items-center justify-center;
}

@import url('./HomePage.css');
@import url('./CourseCart.css');
@import url('./TutorsDashboardPage.css');
@import url('./TutorProfile.css');
@import url('./CheckboxComponent.css');







/* --------------TutorDashboard--------------- */

::-webkit-scrollbar{
    appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}